/* abcjs-light Theme
	A theme for syntax highlighting of ABC code
	for the abcjs-editor.

	This meant to be used with @webcoder49/code-input and
	highlightjs-abc projects.
 */

.abcjs-light {
	/* Header lines */

	.hljs-header {
		color: #0B34A8;
	}

	.hljs-header-content {
		font-style: italic;
	}

	.hljs-title {
		font-weight: bold;
	}

	.hljs-staves {
		background-color: #ffdfe5;
	}

	.hljs-staves-content {
		font-weight: bold;
	}

	.hljs-key {
		font-weight: bold;
	}

	.hljs-part {
		color: #0B34A8;
		font-weight: bold;
	}

	.hljs-tempo {
		font-weight: bold;
	}

	.hljs-meter {
		font-weight: bold;
	}

	.hljs-voice {
		background-color: #ffdfe5;
	}

	.hljs-history {
		font-style: italic;
	}

	.hljs-notes {
		font-style: italic;
	}

	.hljs-words {
		font-weight: bold;
		color: #9f5555;
	}

	.hljs-directive {
		color: #0B34A8;
	}

	.hljs-directive-body {
		font-style: italic;
	}

	.hljs-lyrics {
		font-weight: bold;
	}

	.hljs-lyrics-content {
		color: #9f5555;
	}

	/* Music lines */

	.hljs-continuation {
		background: black;
		color: white;
		border-radius: 4px;
	}
	.hljs-inline-header {
		background: #ffdfe5;
		border-radius: 4px;
	}

	.hljs-note:nth-child(even) {
		color: #217927;
	}

	.hljs-note {
		/*border-right: 2px solid blue;*/
		/*border-radius: 6px;*/
		/*background: linear-gradient(to right, #a3a3f5 0.5px, transparent 10%);*/
	}

	.hljs-broken-rhythm {
		font-weight: bold;
	}

	.hljs-chord-symbol {
		color: #dd1d74;
		text-decoration: underline;
		text-decoration-color: rgba(221, 29, 116, 0.5);
		text-decoration-thickness: 0.7px;
	}

	.hljs-decoration {
		color: #767676;
	}

	.hljs-grace {
		background: #F2F2F2;
		border-radius: 4px;
	}

	.hljs-tuple {
		font-weight: bold;
	}

	.hljs-space {

	}

	.hljs-chord {
		background: linear-gradient(to left, #FCF2D0 90%, transparent 10%);
		border-radius: 4px;
	}

	.hljs-bar {
		background: #71f6ff;
		border-radius: 4px;
	}

	.hljs-overlay {
		background: #71f6ff;
		border-radius: 4px;
	}

	.hljs-error {
		color: #ffffff;
		background: red;
	}

	.hljs-comment {
		font-style: italic;
		color: #818181;
	}

	.hljs-slur {
		border-bottom: 2px dotted #aaa;
	}
}
